POSTGRES_DB=cityscope
POSTGRES_USER=cityscope
POSTGRES_PASSWORD=cityscope
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173","http://localhost:4173","http://127.0.0.1:4173"]
AMAP_WEB_SERVICE_KEY=